<h1>
  Edit compound #<%= @compound.id %>
</h1>

<hr>

<form action="/update_compound/<%= @compound.id %>" method="post">

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <%= select_tag("patient_id", options_from_collection_for_select(@patients.all, :id, :first_name, @compound.patient_id), :class => "form-control") %>
    or <a href="/patients/new">Add a New Patient</a> first
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update compound
  </button>
</form>

<hr>

<a href="/compounds">
  Go back
</a>
