<h1>
  Add a new compound
</h1>


<hr>

<form action="/create_compound" method="post">

  <div class="form-group">
    <label for="patient_id">
      Patient
    </label>

    <input type="text" id="patient_id" name="patient_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create compound
  </button>
</form>

<hr>

<a href="/compounds">
  Go back
</a>
