<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ingredients
    </h1>

    <a href="/ingredients/new" class="btn btn-block btn-outline-secondary">
      Add a new ingredient
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Base
        </th>

        <th>
          Created at
        </th>


      </tr>

      <% @ingredients.each do |ingredient| %>
      <tr>

        <td>
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.name.titleize %>
          </a>
        </td>

        <td>
          <%= ingredient.is_base %>
        </td>

        <td>
          <%= time_ago_in_words(ingredient.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
