<h1>
  Add a new ingredient
</h1>


<hr>

<form action="/create_ingredient" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>
  
  <div class="form">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="is_base" value="1" name="is_base">
      <label class="custom-control-label" for="is_base">Is this a base?</label>
    </div>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
