<!-- Validation failure messages -->
<% if @ingredient.present? %>
  <% if @ingredient.errors.any? %>
    <% @ingredient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ingredient
</h1>


<hr>

<form action="/create_ingredient" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @ingredient.name %>">
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="is_base">
    <input id="is_base" class="form-check-input" name="is_base" type="checkbox" <%= "checked" if @ingredient.is_base %>>
    <label for="is_base" class="form-check-label">
      Is base
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
