<h1>
  Add a new patient
</h1>


<hr>

<form action="/create_patient" method="post">

  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <input type="text" id="dob" name="dob" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.email %>"></input>

  <button class="btn btn-block btn-outline-secondary">
    Create patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
